h1 {
    color: red;
}
p {
    color:rgb(160, 16, 160);
}
div {
    font-weight:bold;
} 
a {
    text-decoration: none;
}
img {
    width: 500px;
    height: 400px;
}
li {
    list-style-type: none;
}
