html(lang="ru")
  head
    meta(charset="utf-8")
    title= "Вторая страница"
    link(rel="stylesheet", href="../style.css")
  body
      include header.pug
      h1 Welcome to the second page
      img(src="../img/img1.jpg" alt="flowers")
      script(src="../app.ts")